.sidebar {
    display: flex;
    padding: 20px 0px 10px 10px;
    height: 100%;
    flex: 0.5;
    max-width: 200px;
    border-right: 1px solid #ddd;
}

.sidebar-container {
    margin: 10px 0;
    display: flex;
    width: 100%;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.sidebar-option {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

a:hover {
    color: #000;
}

